.bg-dark {
    background-color: rgb(65, 61, 61);  
    text-align: center;  
}

.text-blanco {
    color: #fff;
}

.custom-image {
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 20px;
    text-align: center;
}

.custom-buttons button, .custom-buttons div{
    color: #fff;
    border-color: #fff;    
}

.shopping-cart {
    position: fixed;
    top: 0px;
    right: 10px;
}

.espacio{
    margin: 10px;
    color:#fff
}